spring:
  application:
    name: bankcards

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: false

  mvc:
    log-request-details: true

  liquibase:
    enabled: true
    change-log: classpath:db/migration/migration-master.yml

server:
  port: ${SERVER_PORT:8080}
  error:
    include-stacktrace: always

jwt:
  secret: ${JWT_SECRET}
  expiration-ms: ${JWT_EXPIRATION_MS}

crypto:
  aes:
    secret-key: ${CRYPTO_AES_SECRET}

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    org.springframework.boot: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE


